<h2>User info</h2>
<p>画像</p>
  <%= image_tag 'no_image',  size: "100x100" %>
<table>
  <tr></tr>
  <tr>
    <th>name</th><th><%= @user.name %></th>
  </tr>
  <tr>
    <th>introduction</th><th><%= @user.introduction %></th>
  </tr>
</table>

<!--ゲストユーザーがプロフィール編集画面を行えないようにする-->
<% unless @user.guest_user? %>
  <li>
    <%= link_to edit_user_path(@user.id),class: "nav-link text-light" do  %>
    <i class="fa-solid fa-user-gear"></i>
    <% end %>
  </li>
<% end %>

<h2>New book</h2>

  <%= form_with model: Book.new do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <h4>Tag</h4>
  <%= f.text_field :tag_list %>
  <%= f.submit 'Create Book' %>

  <!--評価表示部位-->
<div id="stars">
<label>Rate</label>
</div>

<script>
  let elem = document.querySelector('#stars');
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'book[star]'
  };
  window.raty(elem, opt);
</script>




<!--% books.each do |book| %>
<!-- @books → books -->

<% end %>