

<div class ="container">
  <div class = "row">
  <div class ="col-md-3">
<%= render 'list', books: @book_new %>
</div>


<div class ="col-md-8 offset-md-1">

  <h2>Book detail</h2>
  <table class = "table" >
    <tbody>
    <tr>
     <td>
       <%= image_tag @book.user.get_profile_image(100,100) %><br><%= link_to @book.user.name,user_path(@book.user_id) %>
     </td>
     <td>
       <%= @book.title %>
     </td>
     <td>
        <%= @book.body %>
     </td>

     <td id="favorite_buttons_<%= @book.id %>" >
            <%= render "favorites/favorite", book: @book %>
            
    <!--レビュー機能追加      -->
     <div id="show-stars"></div>
      <script>
        let showRateElement = document.querySelector('#show-stars');
        let showOpt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          scoreName: 'book[star]',
          score: "<%= @book.star %>",
          readOnly: true
        };
        window.raty(showRateElement, showOpt);
      </script>	      
            

     <td>
       <% if @book.user == current_user %>
       <%= link_to "Edit", edit_book_path(@book.id) %>
       <%end%>
     </td>
     <td>
        <% if @book.user == current_user %>
       <%= link_to "Destroy", book_path(@book.id),method: :delete,"data-confirm" => "本当に削除しますか？" %>
       <%end%>
     </td>
    </tr>
    </tbody>
     </table>

<div id="post-comments">
  <%= render "post_comments/comments" , { book: @book , post_comment: @post_comment } %><br>
</div>
<div id="comment-form">
  <%= render "post_comments/form" , { book: @book , post_comment: @post_comment } %>
</div>
</div>
  </div>
</div>
</div>

